@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,700;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
    scroll-behavior: smooth;
}
ul,ol{
    list-style-type: none;
}
.CTA__llamar{
    text-decoration: none; 
    text-shadow: 0 1px 1px black;
    color: #F3F3F4;
}
.CTA__contactar{
    text-decoration: none; 
    text-shadow: 0 1px 1px black;
    color: #F3F3F4;
}
.btn__whatsapp{
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 999;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px black;
    border-radius: 50%;
    background-color: #25D366;
    color: #FFFAFF;
    font-size: 1.8rem;
    text-decoration: none;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: .5rem;
    background-color: #040F0F;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 5px black ;
    z-index: 500;
}
.nav__title{
    display: flex;
    align-items: center;
    color: #FFFAFF;
    font-size: 5vw;
    z-index: 600;
}
.nav__btn{
    display: flex;
    align-items: center;
}
.btn{
    font-size: 4vw;
    font-weight: bold;
    padding: .5rem 1rem;
    background-color: #dc143c;
    border-radius: 50px;
    box-shadow: 0 2px 2px black ;
    border: 0;
}
.btn__contactar{
    display: none;
}
.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero__img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.hero__text-div{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #000000bb;
}
.hero__title{
    text-align: center;
    font-size: 12vw;
    color: crimson;
    text-shadow: 0 2px 2px black;
    line-height:13vw;
    padding: 3vw 0;
}
.hero__text{
    font-size: 8vw;
    color:#FFFAFF;
    text-shadow: 0 2px 2px black;
    padding:5vw;
    text-align: center;
    line-height: 9vw;
}
.uru{
    background: #F5B700;
    background: linear-gradient(180deg,#F5B700 0%,#F5B700 50%,#F3F3F4 50%,#F3F3F4 62%,#35A7FF 62%,#35A7FF 74%, #F3F3F4 74%,#F3F3F4 87%,#35A7FF 87%,#35A7FF 100%); 
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    z-index: 600;
}
.guay{
    background: #F3F3F4;
    background: linear-gradient(180deg,#F3F3F4 0%,#F3F3F4 12%,#35A7FF 12%, #35A7FF 25%,#F3F3F4 25%,#F3F3F4 38%,#35A7FF 38%,#35A7FF 50%,#F3F3F4 50%, rgba(243,243,244,1) 62%,#35A7FF 62%,#35A7FF 74%,#F3F3F4 74%,#F3F3F4 87%, #35A7FF 87%, #35A7FF 100%); 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    z-index: 600;
}  
.article{
    padding: 5rem;
}
.contacto__title{
    font-size: 7vw;
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
} 
.contacto{
    padding-bottom: 3em;
}
.contacto__form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .5em ;
    width: 100%;
}
.contacto__form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}
.contacto__form input{
    padding: .5em ;
    margin: .5em 0;
    font-size: 1rem;
    border: 0;
    border-bottom: 1px solid #bbbbbb;
}
.contacto__form textarea{
    padding: .25em;
    margin: 10px 0;
    font-size: 1rem;
    border: 1px solid #bbbbbb;
}
.contacto__btn{
    background-color: #dc143c;
    border: 0;
    color: #FFFAFF;
    width: 150px;
    align-self: center;
    font-size: 1rem;
    font-weight: 700;
    text-shadow: 0 1px 1px black;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
}
textarea{
    resize: none;
}
textarea:focus, input:focus{
    outline: none;
}
::placeholder{
    color: black;
    opacity: .8;
    font-weight: 300;
}


.footer{
    background-color: #040F0F;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 1rem;
}
.social__title{
    font-size: 2rem;
    color: #FFFAFF;
}
.social{
    display: flex;
    justify-content:space-around;
    gap: 10px;
}
.social a{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 2px black;
    border-radius: 50%;
}
.facebook{
    background-color: #1877F2;
    color: #FFFAFF;
    font-size: 1.5rem;
    text-decoration: none;
}
.instagram {
    text-decoration: none;
    background:linear-gradient(-130deg,#5B51D8,#833AB4,#E1306C,#FFDC80); 
    color: #FFFAFF;
    font-size: 1.5rem;
}
.signed{
    width: 100%;
    text-align: center;
    color: #FFFAFF;
    background-color: #040F0F;
    font-weight: 100;
    padding:.1rem;
    font-size: 2.5vw;
}
.signed a {
    text-decoration: none;
    color: #F3F3F4;
}
.horario{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: .5rem;
}
.horario__title{
    color: #FFFAFF;
    font-size: 5vw;
}
.horario p{
    color: #FFFAFF;
    font-size: 3vw;
}
.info{
    padding-bottom: 1rem;
    text-align: center;
    display: flex;    
}
.info a{
    text-decoration: none;
    color: #FFFAFF;
    font-size: 4vw;
    margin: auto;
}
.fa-envelope{
    font-size: 3vw;
    margin: auto;
}

.slider{
    padding: 2em 0;
    width: 98vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.slider__title{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 5vw;
    padding: .5em 0;
}
.slider__track{
    display: flex;
    animation-name: scroll;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    width: calc(150px*18);
}

.slider__slide{
    width: 150px;
    padding: 0 1em;    
}

.slider__img{
    width: 100%;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-150px*9));
    }
}

@media (min-width:600px) and (max-width:1024px){
    .hero__title{
        font-size: 7vw;
    }
    .hero__text{
        font-size: 6vw;
    }
    .btn{
        font-size: 3vw;
    }
    .signed{
        font-size: 2vw;
    }
    .slider__title{
        font-size: 4vw;
    }
    .contacto__title{
        font-size: 5vw;
    }
}

@media (min-width:1024px){
    .nav__title{
        font-size: 2vw;
    }
    .hero__title{
        font-size: 5vw;
        text-align: start;
        padding: 4vw 8vw;
        line-height: 1vw;
    }
    .hero__text{
        font-size: 3vw;
        text-align: start;
        line-height: 5vw;
        padding: 0 5vw;
    }
    .btn__llamar{
        display: none;
    }
    .btn__contactar{
        display: flex;
    }
    .btn{
        font-size: 1vw;
    }
    .signed{
        font-size: 1vw;
    }
    .slider__title{
        font-size: 2vw;
    }
    .contacto__title{
        font-size: 2.5vw;
    }
    .contacto__form{
        width: 40%;
    }
    .horario__title{
        font-size: 1.5vw;
    }
    .horario p{
        font-size: 1vw;
    }
    .info a{
        font-size: 1vw;
    }
    .fa-envelope{
        font-size: 1vw;
    }
    .social__title{
        font-size: 1.5rem;
    }
    .btn__whatsapp{
        bottom: 75px;
        right: 50px;
    }
    .slider__track{
        width: calc(200px*18);
    }
    
    .slider__slide{
        width: 200px;
        padding: 0 1em;    
    }
    @keyframes scroll{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(calc(-200px*9));
        }
    }
}