@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,700;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #03120E;
}
.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    padding: .5rem;
    background-color: #0B1436;
    position: sticky;
    box-shadow: 0 2px 2px black ;
}
.nav__title{
    display: flex;
    align-items: center;
    color: #FFFAFF;
    font-size: 1.3rem;
}
.nav__btn{
    display: flex;
    align-items: center;
}
.btn{
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 1rem;
    background-color: #FFCF56;
    border-radius: 50px;
    box-shadow: 0 2px 2px black ;
    border: 0;
}
.btn__contactar{
    display: none;
}
.hero{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero__img{
    height: 100%;
    object-fit: cover;
}
.hero__text-div{
    position: absolute;
    top:300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #000000bb;
    padding: 3rem 0;
}
.hero__title{
    font-size: 3rem;
    color: #FFCF56;
    text-shadow: 0 2px 2px black;
}
.hero__text{
    font-size: 1.5rem;
    color:#FFFAFF;
    text-shadow: 0 2px 2px black;
}